html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.navbar{
    display:flex;
    justify-content:space-around;
    background-color:#f95340;
}

.header{
    display:flex;
    justify-content:center;
    background-color:#101010;
    color:white;
}

.main{
    padding-top:30px;
}

.footer{
    background-color:#ffd700;
    display:flex;
    justify-content:space-around;
}

.aboutMain{
    display:flex;
}

.leftpane{
    width:30px;
}

.rightpane{
    width:50px;
}

.thumbnail{
    display:flex;
}

.thumbnail-image{
    width:50px;
}

img{
    width:400px;
    
}